.animate-down-infinite	{
    -webkit-animation: animate-down-infinite 1.5s infinite;
    -moz-animation: animate-down-infinite 1.5s infinite;
    animation: animate-down-infinite 1.5s infinite;}

@-webkit-keyframes animate-down-infinite {
0% {-webkit-transform: translate(0, 0);		opacity: 0;}
50% {opacity: 1;}
100% {-webkit-transform: translate(0, 20px);opacity: 0;}
}
@-moz-keyframes animate-down-infinite {
0% {-moz-transform: translate(0, 0);		opacity: 0;}
50% {opacity: 1;}
100% {-moz-transform: translate(0, 20px);opacity: 0;}
}
@keyframes animate-down-infinite {
0% {transform: translate(0, 0);		opacity: 0;}
50% {opacity: 1;}
100% {transform: translate(0, 20px);opacity: 0;}
}

.animate-up-infinite	{
    -webkit-animation: animate-up-infinite 1.5s infinite;
    -moz-animation: animate-up-infinite 1.5s infinite;
    animation: animate-up-infinite 1.5s infinite;}

@-webkit-keyframes animate-up-infinite {
0% {-webkit-transform: translate(0, 0);	opacity: 0;}
50% {opacity: 1;}
100% {-webkit-transform: translate(0, -20px);opacity: 0;}
}
@-moz-keyframes animate-up-infinite {
0% {-moz-transform: translate(0, 0px);		opacity: 0;}
50% {opacity: 1;}
100% {-moz-transform: translate(0, -20px);opacity: 0;}
}
@keyframes animate-up-infinite {
0% {transform: translate(0, 10px);	opacity: 0;}
50% {opacity: 1;}
100% {transform: translate(0, -20px);opacity: 0;}
}
